header {  
    @media (max-width: 700px) {
            padding: 20px;
        }
    
    padding: 50px 50px 45px;
    display: flex;
    justify-content: space-between;
    
    img {
        @media (max-width: 700px) {
            width: 145px;
            height: 47px;
        }
        width: 210px;
        height: 70px;        
    }
}